# 工作方式：
# 1. 此文件用于指定Git需要忽略的文件和目录
# 2. 每行一个模式，指定要忽略的文件或目录
# 3. 以#开头的行是注释，不会被Git处理

# 依赖
/node_modules
/.pnp
.pnp.js

# 测试
/coverage

# 生产构建
/build

# 其他
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# 日志文件
npm-debug.log*
yarn-debug.log*
yarn-error.log*
