{% extends "home.html" %}
{% block loader %}

<div class="row">
<div class="col-xs-6 span12">

<div class="btn-group">
<button data-toggle="dropdown" class="btn dropdown-toggle">Tables_in_sakila<span class="caret"></span></button>
    <ul class="dropdown-menu" contenteditable="true">
        {% for item in tables %}
        <li><a href="./{{ item[0] }}">{{ item[0] }}</a></li>{% endfor %}
    </ul>
</div>

<h3>Database:{{database}}</h3>
<h4>Table:{{table}}</h4>
<h5>Row:{{row}}</h5>
{% if data.description %}
<table class="table table-hover">
<tbody>
<thead>
<tr>
{% for items in data.description %}
<th>{{ items[0] }}</th> {% endfor %}
</tr>
</thead>
{% for items in data %}
<tr>
{% for item in items %}
<td>{{ item }}</td>{% endfor %}
</tr>
{% endfor %}
</tbody>
</table>
{% else %}
<p>welcome!ERROR: SQL ERROR. There is no item in 'conn.Select_language(appconn,'*')'</p>
{% endif %}
</div>
</div>
{% endblock loader %}
