<!-- 正文，手打版 -->
<div class="row">
    <div class="span12">
        <div class="hero-unit well">
            <h1>
                我的第一篇博客文章!
            </h1>
            <p>
                我是一个税务师，想转行做编程，于是从PYTHON入手。为了学习PYTHON，我安装了PYTHON，安装了以后不知道学什么，看到别人学数据库，装了一个MYSQL。数据库装了好像没什么用处，然后又看到别人学了flask，感觉这是一条路，就开始PYTHON的WEB之路。
            </p>
            <p>
                <a class="btn btn-primary btn-large" href="http://www.runoob.com/">参看更多 »</a>
            </p>
        </div>
        <div class="hero-unit well">
            <h1>
                Hello, bootstrap!
            </h1>
            <p>
                bootstrap这是一个可视化布局模板, 你可以点击模板里的文字进行修改, 也可以通过点击弹出的编辑框进行富文本修改. 拖动区块能实现排序.
            </p>
            <p>
                <a class="btn btn-primary btn-large" href="http://www.runoob.com/">参看更多 »</a>
            </p>
        </div>
        <div class="hero-unit well">
            <h1>
                Hello, python!
            </h1>
            <p>
                Python is a programming language that lets you work quickly and integrate systems more effectively.
            </p>
            <p>
                <a class="btn btn-primary btn-large" href="https://www.python.org/">参看更多 »</a>
            </p>
        </div>
        <div class="hero-unit well">
            <h1>
                Hello, flask!
            </h1>
            <p>
                Flask is a microframework for Python based on Werkzeug, Jinja 2 and good intentions.
            </p>
            <p>
                Flask 是一个 Python 实现的 Web 开发微框架。
            </p>
            <p>
                <a class="btn btn-primary btn-large" href="http://flask.pocoo.org/">参看更多 »</a>
            </p>
        </div>
        <div class="hero-unit well">
            <h1>
                Hello, MYSQL!
            </h1>
            <!--p>
                Flask is a microframework for Python based on Werkzeug, Jinja 2 and good intentions.
            </p-->
            <p>
                <a class="btn btn-primary btn-large" href="https://www.mysql.com/">参看更多 »</a>
            </p>
        </div>
    </div>
</div>
<!-- END，手打版 -->