{% extends "base.html" %}<!--继承基础模板-->
{% block content %}<!--自定义模板区域-->
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="btn-group">
                <p>{{info}}</p>
                {% block action %}
                <form action="/addHamburg" id="addHamburg" method="post">
                    <p><button type="submit">生产汉堡</button></p>
                </form>
                <form action="/addShopper" id="addShopper" method="post">
                    <p><button type="submit">来个顾客</button></p>
                </form>
                <form action="/addPersonnel" id="addPersonnel" method="post">
                    <p><button type="submit">招聘员工</button></p>
                </form>
                <form action="/endDay" id="addPersonnel" method="post">
                    <p><button type="submit">一天结束（未完成）</button></p>
                </form>
                {% endblock action %}
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span8">
            {% block 库存 %}
            <h3>门店库存</h3>
            <table border="1">
                <tr>
                    <th>商品</th>
                    <th>数量</th>
                    <th>剩余时间</th>
                </tr>
                {% for items,value in 门店.设备.前台["前台库存"].items() %}
                <tr>
                    <th>{{items}}</th>
                    <th>{{value.count}}</th>
                    <th>{{value.time}}</th>
                </tr> {% endfor %}
            </table>
            <h3>门店员工状况</h3>
            <table border="1">
                <tr>
                    <th>员工名字</th>
                    <th>员工能力</th>
                    <th>员工努力</th>
                    <th>员工工资</th>
                    <th>员工工作状态</th>
                </tr>
                {% for items in 门店.员工 %}
                <tr>
                    <th>{{items.员工名字}}</th>
                    <th>{{items.员工能力}}</th>
                    <th>{{items.员工努力}}</th>
                    <th>{{items.员工工资}}</th>
                    <th>{{items.员工工作状态}}</th>
                </tr> {% endfor %}
            </table>
            {% endblock 库存 %}
        </div>
        <div class="span4">
            {% block 财务状况 %}
            <h3>门店财务状况</h3>
            <p>
                门店.当前门店报表.堂吃新顾客收入=	{{	门店.当前门店报表.堂吃新顾客收入	}}	<br />
                门店.当前门店报表.堂吃老顾客收入=	{{	门店.当前门店报表.堂吃老顾客收入	}}	<br />
                门店.当前门店报表.堂吃收入=	{{	门店.当前门店报表.堂吃收入	}}	<br />
                门店.当前门店报表.外卖新顾客收入=	{{	门店.当前门店报表.外卖新顾客收入	}}	<br />
                门店.当前门店报表.外卖老顾客收入=	{{	门店.当前门店报表.外卖老顾客收入	}}	<br />
                门店.当前门店报表.外卖收入=	{{	门店.当前门店报表.外卖收入	}}	<br />
                门店.当前门店报表.营业额=	{{	门店.当前门店报表.营业额	}}	<br />
                门店.当前门店报表.房租=	{{	门店.当前门店报表.房租	}}	<br />
                门店.当前门店报表.固定成本=	{{	门店.当前门店报表.固定成本	}}	<br />
                门店.当前门店报表.人工=	{{	门店.当前门店报表.人工	}}	<br />
                门店.当前门店报表.半固定成本=	{{	门店.当前门店报表.半固定成本	}}	<br />
                门店.当前门店报表.食品成本=	{{	门店.当前门店报表.食品成本	}}	<br />
                门店.当前门店报表.水电煤=	{{	门店.当前门店报表.水电煤	}}	<br />
                门店.当前门店报表.外卖手续费=	{{	门店.当前门店报表.外卖手续费	}}	<br />
                门店.当前门店报表.变动成本=	{{	门店.当前门店报表.变动成本	}}	<br />
                门店.当前门店报表.食品报废损失=	{{	门店.当前门店报表.食品报废损失	}}	<br />
                门店.当前门店报表.卫生事件损失=	{{	门店.当前门店报表.卫生事件损失	}}	<br />
                门店.当前门店报表.损失=	{{	门店.当前门店报表.损失	}}	<br />
                门店.当前门店报表.费用=	{{	门店.当前门店报表.费用	}}	<br />
                门店.当前门店报表.成本=	{{	门店.当前门店报表.成本	}}	<br />
                门店.当前门店报表.利润=	{{	门店.当前门店报表.利润	}}	<br />
            </p>
            {% endblock 财务状况 %}
        </div>
    </div>
</div>
{% endblock %}