@charset "utf-8";
@import url("base.css");
body {
	background:#ededed;
}
#slide1 {
	height:419px;
	margin:0 auto;
	position:relative;
	width:100% !important;
}
#slide1 .slide-list {
	height:419px;
	overflow:hidden;
}
#slide1 .slide-list li {
	height:419px;
	background-position:50% 0;
	background-repeat:no-repeat;
}
#slide1 .slide-num {
	/*position: absolute;
	left:200px;
	top:389px;
	z-index:100;*/

} 
#scrll{
	width:970px;
	margin:0 auto;
	padding-top:12px;
}
.banner_bg{
	width:100%;
	height:42px;
	
    position: absolute;
    top: 377px;
	/*background:url(img/head_bg_03.png) repeat-x scroll 0 0 transparent;*/	
}
#slide1 .slide-num li {
    float: left;
    margin-right: 5px;
    width: 18px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    cursor: pointer;
    background: #dedfde;
    color: #fff;
    overflow: hidden;
    text-indent: -9999px;
}
#slide1 .slide-num li.current {
	background:#d30000;
}
#banner {
	position:relative;
	height:419px;
	background:#CAB794;
   min-width: 1000px;
   overflow: hidden;
   position: relative;
   width: auto;
}
.banner_bg {
	/*background:url(img/head_bg_03.png) repeat-x;*/
	height:42px;
	line-height:42px;
	position:absolute;
	z-index:99;
	bottom:0px;
	width:100%;
}
#content {
	width:970px;
	margin:0 auto;
	padding-top:26px;
}
.news {
	width:299px;
	height:398px;
	float:left;
	margin-right:15px;
	background:url(img/news_bg.jpg) repeat-x;
	overflow:hidden;
}
.news p.title {
	height:35px;
	line-height:35px;
	padding-left:10px;
	padding-right:10px;
}
.news p.title span {
	float:left;
	font-size:12px;
	color:#d60000;
	font-family:宋体;
	font-weight:bold;
	padding-left:19px;
	background:url(img/span.jpg) no-repeat left 11px;
}
.news p.title a {
	float:right;
	font-family:Arial;
	font-size:9px;
	color:#bebebe;
}
.new_list img {
	float:left;
}
.new_list {
	background:url(img/news_bg2.jpg) no-repeat center bottom;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:10px;
}
.new_list h3 {
	font-size:12px;
	color:#656565;
	width:207px;
	font-family:宋体;
	float:left;
	padding-left:10px;
}
.new_list h3 a:hover {
	text-decoration:underline;
	color:#d60000;
}
.new_list p {
	font-size:12px;
	color:#999999;
	width:198px;
	font-family:宋体;
	float:left;
	padding-left:10px;
}
.new_list p a {
	font-size:12px;
	color:#999999;
	font-family:宋体;
}
.new_list span {
	font-family:Arial;
	font-size:10px;
	color:#666666;
	padding-left:10px;
	display:block;
	float:left;
	width:207px;
}
.procts {
	width:431px;
	height:191px;
	float:left;
	background:url(img/news_bg.jpg) repeat-x;
}
.procts p.title span {
	float:left;
	font-size:12px;
	color:#d60000;
	font-family:宋体;
	font-weight:bold;
	padding-left:19px;
	margin-right:8px;
	background:url(img/span.jpg) no-repeat left 11px;
}
.procts p.title {
	height: 35px;
	line-height: 35px;
	padding-left: 10px;
	padding-right: 10px;
}
.procts p.title a {
	font-size:12px;
	color:#9c9c9c;
	font-family:宋体;
	background:url(img/as.jpg) no-repeat right center;
	padding-left:8px;
	padding-right:8px;
}
.procts p.title a.cur
{
	font-weight:bold;
}
.procts ul {
	padding-left:16px;
	padding-top:10px;
	display:none;
}
.procts ul li {
	float:left;
	background:url(img/items.jpg) no-repeat;
	width:99px;
	height:127px;
	padding-top:5px;
	text-align:center;
}
.property ul li img {
 *+padding-bottom:6px;
}
.procts ul li img {
 *+padding-bottom:6px;
}
.procts ul li a {
	display:block;
	padding-left:5px;
	padding-right:5px;
	text-align:center;
	font-family:宋体;
	color:#2c2c2c;
}
.property {
	float:left;
	width:431px;
	height:192px;
	background:url(img/news_bg.jpg) repeat-x 0 0;
	margin-top:15px;
}
.property ul {
	padding-left:16px;
	padding-top:10px;
}
.property ul li {
	float:left;
	background:url(img/items.jpg) no-repeat;
	width:99px;
	height:127px;
	padding-top:5px;
	text-align:center;
}
.property ul li a {
	display:block;
	padding-left:5px;
	padding-right:5px;
	text-align:center;
	font-family:宋体;
	color:#2c2c2c;
}
.property p.title span, .cont_us p.title span {
	float:left;
	font-size:12px;
	color:#d60000;
	font-family:宋体;
	font-weight:bold;
	padding-left:19px;
	margin-right:8px;
	background:url(img/span.jpg) no-repeat left 11px;
}
.property p.title, .cont_us p.title {
	height: 35px;
	line-height: 35px;
	padding-left: 10px;
	padding-right: 10px;
}
.cont_us {
	height:398px;
	width:211px;
	float:right;
	text-align:center;
	background:url(img/news_bg.jpg) repeat-x 0 0;
}
.cont_us p {
	margin-bottom:12px;
}
.cont_us a {
}
.cont_us img {
	padding-top:3px;
	padding-bottom:4px;
	*+padding-bottom:7px;
	_padding-bottom:6px;
}
.weibo {
    bottom: 0;
    height: 43px;
    line-height: 43px;
    position: absolute;
    right: 150px;
}
.weibo a.link-tk{float:left;background:url(img/tk.png) no-repeat;width:20px;height:20px;margin:12px 2px 0 6px;}
.weibo strong {
	color:#5a5a5a;
	font-family:微软雅黑;
	font-size:12px;
	float:left;
	font-weight:normal;
}
#bdshare {
	margin-top:8px;
}
